body {
    background-color: mediumspringgreen;
    width: 960px;
}

header {
    text-align: center;
}

h1 {
    background-color: rgb(95, 255, 194);
    padding: 8px;
}

form {
    background: rgb(95, 255, 194);
    width: 850px;
    padding: 10px;
}

div {
    width: 800;
    text-align: center;
}

section {
    margin-bottom: 50px;
}

textarea {
    width: 500px;
    height: 75px;
}

button {
    height: 50px;
    width: 200px;
    font-size: 1.2em;
}

.wehelp {
    background-color: rgb(95, 255, 194);
    padding: 5px;
}

.text-box {
    margin-top: 25px;
    text-align: left;
}

#top-o-form {
    margin-top: 35px;
}

#inst-acc {
    width: 500px;
}

#button-part {
    text-align: center;
}
